_ReSharper.Caches/
.vs/
*.csproj.user
bin
obj
node_modules
*.pubxml.user
src/WebApp/wwwroot/dist/main.js
src/WebApp/wwwroot/dist/main.js.map
src/WebApp/wwwroot/dist/styles.css
src/WebApp/wwwroot/dist/styles.css.map
