@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="prose">
    <h1>@ViewData["Title"]</h1>
    <p>Use this page to detail your site's privacy policy.</p>
    <h2>A cool list</h2>
    <ul>
        <li>The first item</li>
        <li>Test</li>
        <li>Testing some more</li>
    </ul>
</div>
