@model Microsoft.AspNetCore.Mvc.RazorPages.PageModel

<div role="alert">
    @{
        if (this.Model == null)
        {
            throw new ArgumentNullException(nameof(this.Model));
        }

        var errorKeys = new List<string>();
        var modelState = ViewData.ModelState;
    }

    @if (!modelState.IsValid)
    {
        var allFormKeys = this.Model.Request.Form.Keys.ToList();

        if (modelState.Count > 0)
        {
            errorKeys.AddRange(modelState.Keys.OrderBy(x => allFormKeys.IndexOf(x)));
            <div class="bg-gray-50 p-4 mt-2">
                <h3 class="text-sm font-bold text-yellow-800">
                    Validating form data failed
                </h3>
                <ul class="mt-1 text-sm text-yellow-700">
                    @foreach (var key in errorKeys)
                    {
                        var state = modelState[key];

                        if (state != null && state.Errors.Any(x => !string.IsNullOrWhiteSpace(x.ErrorMessage)))
                        {
                            <li class="mt-1">
                                <a data-turbo="false" href="#@(key.Replace(".", "_"))" class="link-primary">
                                    @foreach (var errorMessage in state.Errors.Select(x => x.ErrorMessage))
                                    {
                                        @errorMessage
                                    }
                                </a>
                            </li>
                        }
                    }
                </ul>
            </div>
        }
    }
</div>
