@page "/globalmessageform"

<PageTitle>Global message form page</PageTitle>

<div class="bg-white rounded shadow p-4">
    <h1 class="font-semibold tracking-tight text-xl">Turbo frame in other page test</h1>

    <p class="mt-2">This page is typically not used on it's own. The Turbo Frame starts after this text.</p>

    <turbo-frame id="js-global-message-form" aria-live="polite">
        @* Accessibility-wise it's most likely better to just set HTML required attributes on the inputs but I want to have a sample of model validation in here too *@
        @*@await Component.InvokeAsync("ValidationSummary", this.Model)*@

        <form action="/forms/globalmessage" method="post" class="space-y-6 mt-4">
            <div>
                <label class="block" for="message-1"></label>
                <input class="mt-2" id="message-1" name="message" type="text" value="@this.GlobalMessageFormModel?.Message" required>
            </div>

            <div>
                <button type="submit" class="button-primary">Send message</button>
            </div>
        </form>
    </turbo-frame>
</div>

@code {
    [Parameter]
    public GlobalMessageFormModel? GlobalMessageFormModel { get; set; }
}
