@page "/playerform/{id:guid}"

<PageTitle>Player Form</PageTitle>

<turbo-frame id="js-player-form" aria-live="polite">
    <div class="pointer-events-none fixed inset-0 flex items-end px-1 py-5 sm:items-start sm:p-5">
        <div class="flex w-full flex-col items-center space-y-4 sm:items-start">
            <div class="pointer-events-auto w-full max-w-sm rounded bg-white shadow-lg ring-1 ring-black ring-opacity-5">
                <div class="p-4">
                    <div class="flex items-start">
                        <div class="ml-3 w-0 flex-1">
                            @* Accessibility-wise it's most likely better to just set HTML required attributes on the inputs but I want to have a sample of model validation in here too *@
                            @*@await Component.InvokeAsync("ValidationSummary", this.Model)*@

                            <form action="/forms/player" method="post" class="space-y-6 mt-4">
                                <div>
                                    <label class="block" asp-for="PlayerFormModel.Name"></label>
                                    <input class="mt-2" asp-for="PlayerFormModel.Name" type="text">
                                </div>

                                <div>
                                    <label class="block" asp-for="PlayerFormModel.Ranking"></label>
                                    <input class="mt-2" asp-for="PlayerFormModel.Ranking" type="number">
                                </div>

                                <div>
                                    <input type="hidden" asp-for="PlayerFormModel.Id">
                                    <button type="submit" class="button-primary">Save player</button>
                                </div>
                            </form>
                        </div>
                        <div class="ml-4 flex flex-shrink-0">
                            <a href="/playerformempty" class="inline-flex rounded-md bg-white text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                                <span class="sr-only">Close</span>
                                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</turbo-frame>

@code {
    ////[BindProperty(SupportsGet = true)]
    ////public Guid Id { get; set; }

    ////[BindProperty]
    ////public PlayerFormModel PlayerFormModel { get; set; }

    ////public void OnGet()
    ////{
    ////    this.logger.LogInformation("Hello from OnGet() " + this.Id.ToString("D"));

    ////    var all = this.TempData.GetPlayers();
    ////    var match = all.SingleOrDefault(x => x.Id == this.Id);

    ////    if (match == null)
    ////    {
    ////        this.PlayerFormModel.Id = Guid.NewGuid();
    ////        return;
    ////    }

    ////    this.PlayerFormModel.Id = match.Id;
    ////    this.PlayerFormModel.Name = match.Name;
    ////    this.PlayerFormModel.Ranking = match.Ranking;
    ////}
}
