@page
@using Krompaco.AspNetCore.Hotwired.Extensions
@model TurboFrameExampleModel

@{
    ViewData["Title"] = "Turbo frame example page";
}

<div class="bg-white rounded shadow p-4">
    <h1 class="font-semibold tracking-tight text-xl">Turbo frame in other page test</h1>

    <p class="mt-2">This page is typically not used on it's own. The Turbo Frame starts after this text.</p>

    <turbo-frame id="js-turbo-frame-other-page" aria-live="polite">
        @if (Model.TempStoredForm == null)
        {
            @* Accessibility-wise it's most likely better to just set HTML required attributes on the inputs but I want to have a sample of model validation in here too *@
            @await Component.InvokeAsync("ValidationSummary", this.Model)

            <form asp-page="TurboFrameExample" method="post" class="space-y-6 mt-4">
                <div>
                    <label class="block" asp-for="TurboFrameExampleForm.Email"></label>
                    <input class="mt-2" asp-for="TurboFrameExampleForm.Email" type="text">
                </div>

                <div class="relative flex items-start pl-1" id="e-RegisterUserForm.Accept">
                    <div class="flex items-center h-5">
                        <input asp-for="TurboFrameExampleForm.Accept" class="focus:ring-congress-blue h-4 w-4 text-blue-600 border-gray-500 rounded">
                    </div>
                    <div class="ml-2">
                        <label asp-for="TurboFrameExampleForm.Accept" class="font-medium text-gray-700">Yes, I accept the terms and conditions.</label>
                    </div>
                </div>

                <div>
                    <button type="submit" class="button-primary">Submit form</button>
                </div>
            </form>
        }

        @if (Model.TempStoredForm != null)
        {
            <h3 class="mt-2 text-green-700 text-lg">Hi <em class="font-bold not-italic">@(Model.TempStoredForm.Email?.Trim())</em>!</h3>

            if (this.ViewContext.HttpContext.Request.IsTurbo())
            {
                @await Component.InvokeAsync("Alert", new Alert($"Hi {Model.TempStoredForm.Email?.Trim()}"))
            }

            <p class="mt-2"><a href="/TurboFrameExample?action=new" class="link-primary">Enter new data</a></p>
        }
    </turbo-frame>
</div>
