@page
@model WebApp.Pages.WebSocketMessageModel
@{
}

<h1 class="font-semibold tracking-tight text-3xl">Web socket message sent</h1>

<p class="mt-5">Sent at @DateTime.Now.ToString("T") from this page. Reload page to send a new message.</p>
