<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>
    <link href="/styles.css" rel="stylesheet" asp-append-version="true" />
    <script src="/main.js" async asp-append-version="true"></script>
</head>
<body class="bg-gray-100 text-gray-900">
<turbo-frame id="main-menu">
    <div class="mx-4 mt-4" role="navigation">
        <h1 class="font-extrabold tracking-tight text-5xl"><a class="" data-turbo-frame="_top" asp-area="" asp-controller="Home" asp-action="Index">WebApp</a></h1>
        @if (ViewData["MenuState"] == null)
        {
            <div class="mt-2">
                <a href="/Home/Menu?menustate=1#main-menu">Open menu</a>
            </div>
        }
        else
        {
            <div class="fixed z-10 top-0 left-0 w-screen h-screen bg-pink-200 p-4">
                <a class="" href="/Home/Menu?#main-menu">Close menu</a>
                <ul class="mt-2">
                    <li class="mt-2">
                        <a class="" data-turbo-frame="_top" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="mt-2">
                        <a class="" data-turbo-frame="_top" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    <li class="mt-2">
                        <a class="" data-turbo-frame="_top" asp-area="" asp-controller="Home" asp-action="Slow">Slow Loading Page</a>
                    </li>
                </ul>
            </div>
        }
    </div>
</turbo-frame>
<div role="main" class="mx-4 mt-10">
    @RenderBody()
</div>
<div role="contentinfo" class="mx-4 mt-12 mb-4">
    <h2 class="font-bold tracking-tight text-xl" data-controller="example"></h2>
    <p class="mt-2">&copy; @DateTime.Now.Year - WebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></p>
</div>
</body>
</html>
