@model List<PlayerFormModel>

<ol id="js-player-list" class="list-decimal list-inside">
    @foreach (var player in this.Model)
    {
        <li id="js-player-list-item-@player.Id.ToString("D")" class="mt-4">
            @await Component.InvokeAsync("PlayerListItem", player)
        </li>
    }
</ol>
