@layer base {
	@font-face {
		font-family: 'Inter var';
		font-weight: 100 900;
		font-display: swap;
		font-style: normal;
		font-named-instance: 'Regular';
		src: url('inter-roman-var.woff2') format('woff2');
	}

	@font-face {
		font-family: 'Inter var';
		font-weight: 100 900;
		font-display: swap;
		font-style: italic;
		font-named-instance: 'Italic';
		src: url('inter-italic-var.woff2') format('woff2');
	}
}

@tailwind base;

@tailwind components;

@layer components {
	.prose a, .link-primary {
		@apply underline text-blue-600 hover:bg-yellow-200 hover:text-gray-900 hover:no-underline hover:outline-none focus:bg-yellow-200 focus:text-gray-900 focus:no-underline focus:outline-none;
	}

	.turbo-progress-bar {
		@apply h-2 bg-green-200;
	}
}

@tailwind utilities;
