@font-face {
	font-family: 'Inter var';
	font-weight: 100 900;
	font-display: swap;
	font-style: normal;
	font-named-instance: 'Regular';
	src: url('inter-roman-var.woff2') format('woff2');
}

@font-face {
	font-family: 'Inter var';
	font-weight: 100 900;
	font-display: swap;
	font-style: italic;
	font-named-instance: 'Italic';
	src: url('inter-italic-var.woff2') format('woff2');
}

@font-face {
	font-family: 'JetBrains Mono';
	font-weight: 100 900;
	font-display: swap;
	font-style: normal;
	font-named-instance: 'Regular';
	src: url('jetbrainsmono-regular.woff2') format('woff2');
}

@tailwind base;

@tailwind components;

.iframe-wrapper {
	position: relative;
	overflow: hidden;
	padding-top: 56.25%;
}

.iframe-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

.table-wrapper {
	max-width: 100%;
	overflow-x: auto;
}

.prose a {
	@apply hover:outline-none hover:ring-2 hover:ring-offset-2 hover:ring-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500;
}

.prose pre.prettyprint {
	@apply text-xs;
}

.link-primary {
	@apply underline text-gray-900 font-medium hover:outline-none hover:ring-2 hover:ring-offset-2 hover:ring-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500;
}

.turbo-progress-bar {
	@apply h-2 bg-green-200;
}

@tailwind utilities;
